# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.pipenv/
pipenv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PyCharm
.idea/
*.iml

# VSCode (optional, falls du mal VSCode nutzt)
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Local config files
*.env
*.env.*

# Jupyter Notebook
.ipynb_checkpoints/

# Log files
*.log

# Misc
*.swp
*.swo

# Configuration files
/pex_config.json
/pexconfig.json
